body{
    background-color: cornflowerblue;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    margin: 10px;
}
img{
    height: 500px;
    border-radius: 20px;
}

h1{
    font-size: 60px;
}
p{
    font-size: 30px;
    font-family:'Times New Roman', Times, serif;
    text-align: justify;
}

.post{
    margin: 30px;
    width: 2000px;
}

button{
    height: 40px;
    width: 200px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 26px;
}