body{
   background-color: #231942;
}

.menu{
    background-color: #5e548e;
    height: 150px;
    width: 100%;
}

.principal{
    background-color: #9f86c0;
    height: 200px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.principal h1{
    font-family: 'Anoushka', sans-serif;
    font-size: 60px;                                
}

.rodape{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 16px;
}

.tabela{
    height: 200px;
    width: 500px;
    background-color: #e0b1cb;
}

.formulario{
    height: 200px;
    width: 500px;
    background-color: #e0b1cb;
}
